*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Edu TAS Beginner", sans-serif;
}

:root{
    --header-bg: #D9D9D9;
    --card-font-colour: #BAAFB0;
    --alt-bg-main: #E09D5C;
    --usually-white: #ffffff;
    --font-date: "Sometype Mono", monospace;
}

header{
    background-image: url("../img/wall.png");
    background-size: contain;
    position: fixed;
    width: 100%;
    z-index: 20;
    top: 0;
    min-width: 476px;
}

main{
    min-width: 476px;
    padding-top: 180px;
    padding-bottom: 50px;
    background-image: url("../img/cork.png");
    background-size: contain;
}

p{
    font-size: 16px;
}

h1{
    text-align: center;
    padding: 20px;
    font-size: 5rem;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.col{
    width: 100%;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: var(--usually-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    position: relative;
    
    max-width: 285px;
    gap: 1rem;

    p{
        width: 90%;
        margin: 0 auto;
        margin: 0 auto 20px auto;
    }
}

.pin{
    position: absolute;
    top: 0;
    margin-top: -10px;
}

.umbe{
    object-position: -120px 0px;
}

.moon{
    object-position: 0px -15px;
}

.wyn{
    object-position: -20px 0;
}

.amiata{
    object-position: -30px 0;
}

.img{
    height: 250px;
    width: 250px;
    object-fit: cover;
    margin: 20px 20px 0 20px;
}

@media screen and (min-width: 736px){
    .col{
        width: 45%;
    }
}


@media screen and (min-width: 1068px){
    .col{
        width: 30%;
    }
}